---
title: Welcome to うづらルビーカイギ
---

<div class="welcome">
  <h1>うづらルビーカイギ</h1>
  <div class="contents">
    <ul>
      <li>日時：2013年４月吉日</li>
      <li>場所：池袋近辺</li>
      <li>コンテンツ：うづら　他　Coming Soon!</li>
    </ul>
  </div>
  <p class="doc">
    <%= link_to "See also doorkeeper", "http://udzura.doorkeeper.jp/events/2395" %>
  </p><!-- .doc -->
</div><!-- .welcome -->